.header {
  display: block;
  height: 63px;
  color: rgb(51, 51, 51);
  //   background-color: rgb(255, 255, 255);
  background-color: yellow;
  font-size: 1em;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 6;
  border-bottom: 1px solid rgb(224, 224, 224);
}

.nav_bar {
  display: block;
  width: 193px;
  position: fixed;
  height: 100%;
  z-index: 5;
  overflow: hidden;
  border-right: 1px solid rgb(224, 224, 224);
  background-color: rgb(72, 255, 0); //tmp
}
